#video {
    width: 100%;
    height: 500px;
    border: none;
}
.travel_maindiv {
    border: 1px;
}
.travel_maindiv img {
    width: 100px;
}
.travel_maindiv h5 , .travel_maindiv p {
    margin: 20px;
}